
body{
  background-image: url("../images/6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Calibri';
}
h1{
  width: 100%;
  margin-top: 1em;
  text-align: center;
  font-size: 2.2em;
  font-weight: bold;
  font-style: italic;
  color: rgb(20,48,23);
}
marquee{
  font-size: 2.7em;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(235, 9, 114);
}
footer{
  width: 100%;
  font-size: 2em;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  color: #F5F5F5;

}
audio{
float: right;
}

.images{
  padding: 1em;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.photo{
  position: relative;
}

.overlay{

	background-color: rgba(9,175,0,0.3);
	color: #FFF;
  font-size: 2em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  overflow: hidden;
	width: 100%;
	bottom:0;
	left: 0;
	right: 0;
	height: 0;
	position: absolute;
}

.photo:hover .overlay {
  bottom: 0;
  height: 100%;
}
.text{
  color: #FFF;
  font-weight: bold;
}
